@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  <div class="container-fluid">
        <div class="row">
           @Html.Partial("_AccountCarousel")
            <div id="logincontent" class="col-md-4 col-sm-12 logincontent">
                <form action="#">
                    <p id="newpassheading">New Password</p>
                    <p id="newpassinfo">Please enter a new password in the fields below.</p>
                    <label for="newpass">New Password</label>
                    <input type="password" name="newpass" id="newpass" placeholder="**********">
                    <label for="confirmnewpass">Confirm New Password</label>
                    <input type="password" name="confirmnewpass" id="confirmnewpass" placeholder="**********">
                    <input type="submit" value="Change Password">                
                    <a asp-action="Register">Login</a>
                </form>
                <div id="loginpolicy">
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>