@model CIPlatform.Entities.ViewModels.RegistrationModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row">
        <partial name="_AccountCarousel" model="Model.banners" />

        <div id="RegistrationModel" class="col-md-4 col-sm-12 logincontent">
            <form asp-action="Register" id="registerform">
                <label asp-for="FirstName" for="registerfname">First Name <span asp-validation-for="FirstName" class="text-danger"></span></label>
                <input asp-for="FirstName" type="text" id="registerfname" placeholder="Umang">


                <label asp-for="LastName" for="registerlname">Last Name <span asp-validation-for="LastName" class="text-danger"></span></label>
                <input asp-for="LastName" type="text" id="registerlname" placeholder="Gohel">


                <label asp-for="PhoneNo" for="registerphone">Phone Number <span asp-validation-for="PhoneNo" class="text-danger"></span></label>
                <input asp-for="PhoneNo" type="text" id="registerphone" placeholder="1234567890">


                <label asp-for="EmailId" for="registeremail">Email Address  <span asp-validation-for="EmailId" class="text-danger"></span></label>
                <input asp-for="EmailId" type="email" id="loginemail" placeholder="shichan@nohara.com">


                <label asp-for="Password" for="registerpass">Password <span asp-validation-for="Password" class="text-danger"></span></label>
                <input asp-for="Password" type="password" id="registerpass" placeholder="**********">


                <label asp-for="ConfirmPassword" for="registercpass">Confirm Password  <span asp-validation-for="ConfirmPassword" class="text-danger"></span></label>
                <input asp-for="ConfirmPassword" type="password" id="registercpass" placeholder="**********">


                <input type="submit" value="Register">
                <a asp-action="ForgotPassword">Lost your password?</a>
                <p>Already registered?<a asp-action="Login">Login now</a></p>
            </form>
            <div id="loginpolicy">
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
</div>