@model CIPlatform.Entities.ViewModels.AdminThemeModel
@section Style
{
   <link rel="stylesheet" href="/css/admin_style.css">
}
    <div class="container-fluid">
        <div class="row">
            <partial name="_AdminNavigationbar" />
            <div class="col-lg-10 col-md-12 min-vh-100">
                 <partial name="_AdminHeader" model="Model.adminHeader" />
                <div class="admin-main-content p-sm-3 pb-0">
                   <div class="cms-add-form">
                        <div class="cms-add-header p-sm-2 px-sm-3 border" style="background-color: #F8F9FC;">
                            <h4>Mission Theme Add</h4>
                        </div>
                    <form action="">
                        <div class="border px-1 p-sm-3 ">
                            <div class="py-2">
                                <label for="" class="form-label">Theme Title</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                            <div class="pt-3 d-flex justify-content-end align-items-center">
                                <button class="me-1 border border-2 border-secondary bg-white rounded-5 px-4 p-2">Cancel</button>
                                <input type="submit" class="ms-2 btn-orange bg-white rounded-5 px-4 p-2" value="Save">
                            </div>
                    </form>
                   </div>                  
                </div>               
            </div>
        </div>
    </div>
   @section JavaScript{

    <script src="/js/admin_custom.js"></script>
   }
   