:root {
    --header-height: 222px;
}

* {
    margin: 0px;
    padding: 0px;
}

.container-fluid > .row {
    height: 100vh;
    width: 100vw;
}

#imagecontent {
    margin: 0px;
    padding: 0px;
}

    #imagecontent img {
        height: 100vh;
    }

.imgcontent {
    text-align: left;
    left: 14%;
    bottom: 4rem;
    display: block !important;
}

    .imgcontent h1 {
        font-weight: normal;
        line-height: 5vh;
        width: 61%;
    }

    .imgcontent p {
        width: 83%;
    }

.logincontent {
    height: 100vh;
}

.logincontent {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: center;
}

    .logincontent > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 74vh;
        justify-content: center;
    }

        .logincontent > form > * {
            width: 100%;
            color: #414141;
            margin-bottom: 1vh;
            padding: 1vh;
            font-size: 2vh;
        }

        .logincontent > form > a {
            width: auto;
            width: auto;
            text-decoration: none;
            font-size: 1.5vh;
        }

        .logincontent > form > input {
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
            border-radius: 1vh;
        }

        .logincontent > form > p > a {
            color: #2B64B1;
            text-decoration: none;
        }

        .logincontent > form > p {
            width: auto;
            font-size: 1.5vh;
        }

        .logincontent > form > input[type=submit] {
            background: #F8863400 0% 0% no-repeat padding-box;
            border: 2px solid #F88634;
            color: #F88634;
            margin-top: 1vh;
            border-radius: 2.4vh;
        }

#loginpolicy > p {
    text-align: center;
}

@media screen and (max-width:1200px) {
    .logincontent > form > * {
        font-size: 1.5vh;
    }

    .logincontent {
        padding: 1vh;
    }
}

@media screen and (max-width:767px) {
    #imagecontent {
        height: 45vh;
    }

        #imagecontent img {
            height: 45vh;
        }

    .logincontent {
        height: 55vh;
    }

    .imgcontent {
        bottom: 0;
        display: block !important;
    }

        .imgcontent p {
            font-size: 1.5vh;
            line-height: 2vh;
            width: 100%;
        }

        .imgcontent h1 {
            font-weight: normal;
            line-height: 3vh;
            width: 100%;
        }

    .logincontent > form > * {
        font-size: 1.9vh;
    }

    .logincontent {
        padding: 4vh;
    }
}
/* =========================================================================================================== */
/* register */
/* =========================================================================================================== */
#registerform {
    height: 84vh;
}

    #registerform > * {
        margin-bottom: 0.2vh;
    }
/* responsive register */
@media only screen and (max-width:767px) {
    #registercontent > #loginpolicy {
        font-size: 1vh;
    }

    #registerform {
        padding-top: 2vh;
    }

        #registerform > * {
            margin-bottom: 0;
            font-size: 1.3vh;
            padding-bottom: 0.2vh;
        }
}
/* =========================================================================================================== */
/* forgot password */
/* =========================================================================================================== */
#forgotheading {
    text-align: center;
    color: #414141;
    font-size: 2vh;
    margin-bottom: 0;
}

#forgotinfo {
    text-align: center;
    color: #414141;
    font-size: 1.5vh;
    padding-top: 0;
    padding: 0vh 2vw;
}
/* =========================================================================================================== */
/* newpassword.html */
/* =========================================================================================================== */
#newpassheading {
    text-align: center;
    color: #414141;
    font-size: 2vh;
    margin-bottom: 0;
}

#newpassinfo {
    text-align: center;
    color: #333333;
    font-size: 1.5vh;
    padding-top: 0;
    padding: 0vh 2vw;
}
/* ===================================================================================================================== */
/* home.html */
/* ===================================================================================================================== */
#mainHeader {
    background-color: white !important;
    padding-bottom: 0;
}

#leftNavbarSupportedContent {
    width: 60%;
}

#homeNavbarUI {
    flex-direction: row;
    justify-content: center;
}

#main-header header {
    min-width: max-content;
    top: 0;
    left: 0;
}

#main-first-header {
    max-width: 1420px;
    height: 72px;
    min-width: max-content;
}

#user-profile-img {
    height: 40px;
    width: 40px;
}

.home-nav-item {
    padding: 1vh 1vw;
}

.nav-link-font {
    color: #414141 !important;
    font-size: 2.3vh;
    font-weight: lighter;
}

#rightNavbarSupportedContent {
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 15vw;
}

#profilePicture {
    height: 6.6vh;
    width: 4.5vw;
    border-radius: 50%;
}

#profileDropdown {
    width: 10vw;
}

#firstHr {
    margin: 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

#main-second-header {
    height: 78px;
    max-width: 1420px;
}

#search-input {
    width: 100%;
}

.chip-item {
    min-width: max-content;
}

#filter-image {
    width: 30px;
    height: 30px;
}

#filter-dropdowns {
    height: 100%;
}
/* ================================================================================================================================= */
/* media query for home */
/* ================================================================================================================================= */
@media screen and (max-width:1440px) {
    #rightNavbarSupportedContent {
        padding-left: 10vw;
    }
}

@media screen and (max-width:1024px) {
    #leftNavbarSupportedContent {
        width: 50%;
    }

    #rightNavbarSupportedContent {
        width: 50%;
    }

    .nav-link-font {
        font-size: 2vh;
    }

    #homeNavbarUI {
        justify-content: left;
    }

    #profilePicture {
        height: 5vh;
        width: 5vw;
    }
}

@media screen and (max-width:1024px) {
    #rightNavbarSupportedContent {
        width: 60%;
        padding-left: 15vw;
    }

    #leftNavbarSupportedContent {
        width: 40%;
    }

    .nav-link-font {
        font-size: 1.8vh;
    }
}

@media screen and (max-width:768px) {
    #rightNavbarSupportedContent {
        width: 50%;
        text-align: center;
        padding-left: 0;
    }

    #leftNavbarSupportedContent {
        width: 50%;
    }

    #profilePicture {
        height: 5vh;
        width: 10vw;
    }

    #profileName {
        font-size: 1.5vh;
    }
}
/* =========================================================================== */
/* mission-home-page */
/* =========================================================================== */
.dropdown-toggle::after {
    display: none;
}

#search-input {
    background: url("/images/search.png") no-repeat;
    background-position: 10px center;
}

.filters {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    min-width: max-content;
    padding: 0px 5px !important;
}

#filter-mission-navbar {
    border-color: #e8e8e8;
    top: 72px;
    left: 0px;
    background-color: white;
}

#menu-side-bar {
    top: 0px;
    left: -50vw;
    height: 100vh;
    z-index: 3;
    border: 1px solid;
    background: white;
    width: 45vw;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    opacity: 1;
    transition: left 0.5s;
    transition-timing-function: ease;
}

    #menu-side-bar > #menu-heading {
        flex-direction: column;
    }

        #menu-side-bar > #menu-heading > * {
            margin: 10px 0px;
            width: 67%;
            margin-right: 0 !important;
            font-size: 18px;
        }

    #menu-side-bar > * {
        width: 100%;
    }

.img-close {
    text-align: right;
}

    .img-close > img {
        height: 20px;
        width: 20px;
    }

#filter-side-bar {
    top: 0px;
    left: -50vw;
    height: 100vh;
    z-index: 3;
    border: 1px solid;
    background: white;
    width: 45vw;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    opacity: 1;
    transition: left 0.5s;
    transition-timing-function: ease;
}

    #filter-side-bar > #filter-menu-heading {
        flex-direction: column;
    }

        #filter-side-bar > #filter-menu-heading > * {
            margin: 10px 0px;
            width: 67%;
            margin-right: 0 !important;
            font-size: 18px;
        }

    #filter-side-bar > * {
        width: 100%;
    }

/* mission content */
#mission-content {
    max-width: 1420px;
    height: calc(100vh - var(--header-height));
}

    #mission-content::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

#mission-header {
    color: #414141;
}

    #mission-header span {
        font-weight: normal;
    }

#no-mission-found {
    height: 400px;
}

    #no-mission-found > h1 {
        color: #757575;
    }

#chips::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#dropdown-sort {
    width: 171px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    opacity: 1;
}

#mission-grid {
    max-width: 1420px;
}

.grid-item {
    height: 140px;
}

.card-img {
    height: 300px !important;
}

.card-theme-title {
    position: absolute;
    top: 280px;
    left: 34%;
    font-weight: lighter;
}

#card-image-content {
    height: 300px;
}

#card-time-duration-title {
    width: fit-content;
    font-weight: lighter;
}

#card-image-content {
    position: absolute;
    right: 0px;
}

.img-content {
    background-color: black;
    color: white;
    opacity: 0.6;
    max-width: max-content;
}

#mission-duration-div {
    z-index: 1;
}

#seats-info-card {
    top: -18px;
    z-index: 0;
}

#seats-left-image {
    height: 25px;
    width: 25px;
}

#seats-left-text {
    color: #757575;
    min-width: max-content;
}

#deadline-image {
    height: 35px;
    width: 35px;
}

#deadline-text {
    color: #757575;
}

#apply-btn {
    color: #F88634;
    border-color: #F88634;
}

.orange-btn {
    color: #F88634;
    border-color: #F88634;
}

#pagination a {
    color: black;
}

.page-item:hover {
    color: white !important;
    background-color: #F88634 !important;
}

.list-image-part {
    width: 30%;
}

.list-content-part {
    width: 70%;
}

.list-img {
    height: 250px;
    width: 100%;
}

.list-card-theme-title {
    position: absolute;
    top: 220px;
    left: 33%;
    font-weight: lighter;
}

#list-card-image-content {
    top: 0px;
    right: 0px;
}

.list-img-content {
    background-color: black;
    color: white;
    opacity: 0.6;
    max-width: max-content;
}

#list-apply-btn {
    color: #F88634;
    border-color: #F88634;
}

#list-card-time-duration-title {
    width: fit-content;
    font-weight: lighter;
}

#list-mission-duration-div {
    z-index: 1;
    position: relative;
}

#list-seats-info-card {
    top: -18px;
    z-index: 0;
}

#list-seats-left-image {
    height: 25px;
    width: 25px;
}

#list-seats-left-text {
    color: #757575;
    min-width: max-content;
}

#list-deadline-image {
    height: 35px;
    width: 35px;
}

#list-deadline-text {
    color: #757575;
}

#mission-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 72px;
}

    #mission-footer a {
        text-decoration: none;
        color: black;
    }

    #mission-footer > div {
        max-width: 1420px;
    }
/* media query for mission page */
@media screen and (min-width: 576px) {
    #filter-mission-navbar {
        display: block !important;
    }
}
/* media query for mission page list view*/
@media screen and (max-width:768px) {
    .list-image-part {
        width: 50%;
    }

    .list-content-part {
        width: 50%;
    }

    #list-info-content {
        flex-direction: column;
    }

    .list-card-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-img {
        height: 400px;
        width: 100%;
    }

    .list-card-button-apply {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-card-theme-title {
        top: 370px;
    }
}

@media screen and (max-width:575px) {
    #list-card-parent {
        flex-direction: column;
    }

    .list-image-part {
        width: 100%;
    }

    .list-content-part {
        width: 100%;
    }
}
/* =========================================================== */
/* volunteering_mission_page */
/* =========================================================== */
.volunteer-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.volunteer-content::-webkit-scrollbar {
    display: none;
}

#volunteer-info-tabs::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.volunteer-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.volunteer-main-image {
    height: 625px;
}

#carouselExampleControls {
    height: 120px;
}

#volunteer-mission-title {
    color: #414141;
    font-weight: lighter;
    width: 90%;
}

#volunteer-mission-description {
    color: #414141;
    font-weight: lighter;
    width: 90%;
}

#volunteer-mission-tagline-div {
    z-index: 1;
    position: relative;
}

#volunteer-mission-tagline-title {
    width: fit-content;
    font-weight: lighter;
}

#volunteer-seats-info-card {
    top: -18px;
    z-index: 0;
}

#vounteer-seats-left-image {
    height: 25px;
    width: 25px;
}

#vounteer-seats-left-text {
    color: #757575;
    min-width: max-content;
}

#vounteer-achieved-image {
    height: 25px;
    width: 25px;
}

#vounteer-achieved-text {
    color: #757575;
}

.progress-bar {
    background-color: #F88634;
}

.progress {
    width: 130px;
    height: 12px;
}

#mission-favourite-recomend-div span {
    color: #757575 !important;
}

#mission-favourite-recomend-div button {
    border-color: #757575;
}

#mission-related-information-div .caption-badge {
    display: none;
}

#mission-related-information-div .krajee-icon-clear {
    display: none;
}

.rating-stars {
    background-color: white;
}

.mission-related-info {
    width: 153px;
    height: 130px;
}

.mission-related-item {
    top: -17px;
}

.mission-related-info-title {
    color: #757575;
    font-size: 12px;
}

.mission-related-info-desc {
    color: #757575;
    font-size: 16px;
}

.volunteer-button-apply {
    display: flex;
    justify-content: center;
    align-items: center;
}

#volunteer-apply-btn {
    color: #F88634;
    border-color: #F88634;
}
/* volunteer information */
#volunteer-information {
    height: 830px;
}

#volunteer-info-tabs {
    width: 58%;
}

#volunteer-recent-info {
    width: 38%;
}

#volunteer-basic-info-div {
    height: 35%;
}

#recent-volunteer-info-div {
    height: 65%;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        background-color: white;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            border-bottom: 2px solid black;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            border-bottom: 2px solid black;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    overflow-y: scroll;
    height: 730px;
}

    .tabcontent h3 {
        font-weight: normal;
    }

    .tabcontent::-webkit-scrollbar {
        display: none;
    }

#comment {
    resize: none;
}

.avtar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#volunteer-comments-div {
    background-color: #E8E8E8;
}

#volunteer-information-span {
    text-decoration: underline;
    text-underline-offset: 7px;
}

#volunteer-recent-info {
    color: #414141;
}

.volunteer-info-div-items {
    height: 33%;
}

#volunteer-recent-volunteer-span {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.volunteer-images-div {
    width: 33%;
}

.volunteer-images {
    width: 70px;
    height: 70px;
}

.volunteer-names {
    color: #414141;
}

.volunteer-scroll-bar-btn {
    width: 10%;
    height: 100%;
}

.volunteer-scroll-bar-span {
    width: 80%;
}

/* Related missions */
#related-mission-heading {
    color: #414141;
    font-weight: lighter;
}

#related-mission-grid {
    max-width: 1420px;
}

.related-grid-item {
    height: 140px;
}

.related-card-img {
    height: 300px !important;
}

.related-card-theme-title {
    position: absolute;
    top: 280px;
    left: 34%;
    font-weight: lighter;
}

#card-image-content {
    height: 300px;
}

#card-time-duration-title {
    width: fit-content;
    font-weight: lighter;
}

#related-card-image-content {
    position: absolute;
    right: 0px;
}

.related-img-content {
    background-color: black;
    color: white;
    opacity: 0.6;
    max-width: max-content;
}
/* ============================================== */
/* media query for volunteer */
/* ============================================== */
@media screen and (max-width:767px) {
    #volunteer-image-part {
        width: 60% !important;
    }

    #volunteer-content-part {
        width: 40% !important;
    }

    #volunteer-mission-title {
        width: 100%;
        font-size: 25px !important;
    }

    #volunteer-mission-description {
        width: 100%;
        font-size: 12px !important;
    }

    .volunteer-favourite-button {
        width: 100% !important;
    }

    .mission-related-info {
        height: 100px;
        width: 104px;
        margin: 1px;
    }

    #volunteer-info-tabs {
        width: 100%;
        height: 50%;
    }

    #volunteer-recent-info {
        width: 100%;
        height: 50%;
    }

    .tabcontent {
        height: calc(100% - 74px);
    }

    #volunteer-basic-info-div {
        height: max-content;
        width: 35%;
    }

    #recent-volunteer-info-div {
        height: max-content;
        width: 65%;
    }

    .volunteer-names {
        font-size: 13px !important;
    }

    .volunteer-images {
        width: 50px;
        height: 55px;
    }
}

@media screen and (max-width:576px) {
    #volunteer-image-part {
        width: 100% !important;
    }

    #volunteer-content-part {
        width: 100% !important;
    }

    #volunteer-seats-info-card {
        flex-direction: row !important;
    }

    #volunteer-basic-info-div {
        width: 100%;
    }

    #recent-volunteer-info-div {
        width: 100%;
    }

    #volunteer-recent-info {
        width: 100%;
        height: 55% !important;
    }

    #volunteer-info-tabs {
        width: 100%;
        height: 45%;
    }

    #volunteer-information {
        height: 1420px;
    }
}

@media screen and (max-width:360px) {

    #volunteer-remain-seats-cards {
        width: 40% !important;
    }
}
/* ================================================================================= */
/* story listing page */
/* ================================================================================= */
#story-content {
    height: calc(100vh - var(--header-height));
}

#story-list-div {
    background-color: #FFFFFF00;
}

#story-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#story-top-image-div {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png);
    height: 250px;
    background-size: 100vw 615px;
    background-repeat: no-repeat;
    background-position: 0px -180px;
}

.user-story-image {
    height: 250px;
    width: 100%;
}

.story-image-heading {
    top: 234px;
}

.user-story-description, .story-user-name {
    color: #757575;
}

.user-story-profile-img {
    height: 50px;
    width: 50px;
}

/* media query */
@media screen and (max-width:768px) {
    #story-top-image-div > div {
        width: 80% !important;
    }
}

@media screen and (max-width:360px) {
    #story-top-image-div > div {
        font-size: 12px !important;
    }
}
